<a href="https://colab.research.google.com/github/Batinnalp/SQLite-/blob/main/SQLite_grupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()
cursor.execute("""
create table notlar (
  id integer primary key,
  ogrenci text,
  ders text,
  notu integer
)
""")

veriler = [
    ("Ali", "Matematik", 85),
    ("Ali", "Fen", 90),
    ("Ayşe", "Matematik", 70),
    ("Mehmet", "Fen", 75),
    ("Zeynep", "Matematik", 88),
    ("Mehmet", "Matematik", 78),
    ("Ayşe", "Fen", 92),
    ("Zeynep", "Fen", 84)
]

cursor.executemany("insert into notlar (ogrenci, ders, notu) values (?, ?, ?)", veriler)
conn.commit()

In [ ]:
cursor.execute("""
select ogrenci, sum(notu)
from notlar
group by ogrenci
""")
print(cursor.fetchall())

[('Ali', 175), ('Ayşe', 162), ('Mehmet', 153), ('Zeynep', 172)]

In [ ]:
cursor.execute("""
select ders, avg(notu)
from notlar
group by ders
""")
print(cursor.fetchall())

[('Fen', 85.25), ('Matematik', 80.25)]

In [ ]:
cursor.execute("""
select ders, count(*)
from notlar
group by ders
""")
print(cursor.fetchall())

[('Fen', 4), ('Matematik', 4)]

In [ ]:
cursor.execute("""
select ogrenci, max(notu)
from notlar
group by ogrenci
""")
print(cursor.fetchall())

[('Ali', 90), ('Ayşe', 92), ('Mehmet', 78), ('Zeynep', 88)]

In [ ]:
cursor.execute("""
select ogrenci, round(notu)
from notlar
group by ogrenci
""")
print(cursor.fetchall())

[('Ali', 85.0), ('Ayşe', 70.0), ('Mehmet', 75.0), ('Zeynep', 88.0)]

In [ ]:
cursor.execute("""
select ogrenci, avg(notu) as ortalama
from notlar
group by ogrenci
having ortalama > 85
""")
print(cursor.fetchall())

[('Ali', 87.5), ('Zeynep', 86.0)]

In [ ]:
cursor.execute("""
select ogrenci, sum(notu)
from notlar
group by ogrenci
having sum(notu) > 160
""")
print(cursor.fetchall())

[('Ali', 175), ('Ayşe', 162), ('Zeynep', 172)]

In [ ]:
cursor.execute("""
select ders, count(*) as not_sayisi
from notlar
group by ders
having not_sayisi >= 2
""")
print(cursor.fetchall())

[('Fen', 4), ('Matematik', 4)]

In [ ]:
cursor.execute("""
select ogrenci, max(notu) as en_yüksek
from notlar
group by ogrenci
having en_yüksek >= 90
""")
print(cursor.fetchall())

[('Ali', 90), ('Ayşe', 92)]

In [ ]:
cursor.execute("""
select ogrenci, avg(notu) as ortalama
from notlar
group by ogrenci
having ortalama between 80 and 90
""")
print(cursor.fetchall())

[('Ali', 87.5), ('Ayşe', 81.0), ('Zeynep', 86.0)]