<a href="https://colab.research.google.com/github/Batinnalp/SQLite-/blob/main/SQLiteTekrar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
conn = sqlite3.connect("batin.db")
cursor = conn.cursor()
print("Veritabanına bağlanıldı...")

Veritabanına bağlanıldı...

In [ ]:
cursor.execute("""
create table if not exists kitaplar (
  id integer primary key autoincrement,
  ad text not null,
  yazar text,
  yil integer,
  tur text
)
""")
print("Kitaplar tablosu oluşturuldu.")

Kitaplar tablosu oluşturuldu.

In [ ]:
cursor.execute("""
insert into kitaplar (ad, yazar, yil, tur)
values ('Suç ve Ceza', 'Dostoyevski', 1866, 'Roman')
""")

conn.commit()
print("Veri eklendi!")

Veri eklendi!

In [ ]:
cursor.execute("""
delete from kitaplar
where ad = 'Suç ve Ceza'
and id not in (
  select min(id)
  from kitaplar
  where ad = 'Suç ve Ceza'
)
""")
conn.commit()

In [ ]:
cursor.execute("select * from kitaplar")
veriler = cursor.fetchall()
for v in veriler:
  print(v)

(1, 'Suç ve Ceza', 'Dostoyevski', 1866, 'Roman')

In [ ]:
kitap_listesi = [
    ("Kürk Mantolu Madonna", "Sabahattin Ali", 1943, "Roman"),
    ("Sefiller", "Victor Hugo", 1862, "Roman"),
    ("Fareler ve İnsanlar", "John Steinbeck", 1937, "Roman"),
    ("Şeker Portakalı", "Jose Mauro de Vasconcelos", 1968, "Roman"),
    ("Satranç", "Stefan Zweig", 1941, "Novella"),
    ("İnce Memed", "Yaşar Kemal", 1955, "Roman"),
    ("Dönüşüm", "Franz Kafka", 1915, "Novella"),
    ("Bülbülü Öldürmek", "Harper Lee", 1960, "Roman"),
    ("Yüzüklerin Efendisi", "J.R.R Tolkien", 1954, "Fantastik")
]

cursor.executemany("""
insert into kitaplar (ad, yazar, yil, tur)
values (?, ?, ?, ?)
""", kitap_listesi)

conn.commit()

print("9 kitap başarıyla eklendi")

9 kitap başarıyla eklendi

In [ ]:
cursor.execute("select * from kitaplar")
veriler = cursor.fetchall()
for v in veriler:
  print(v)

(1, 'Suç ve Ceza', 'Dostoyevski', 1866, 'Roman')
(2, 'Kürk Mantolu Madonna', 'Sabahattin Ali', 1943, 'Roman')
(3, 'Sefiller', 'Victor Hugo', 1862, 'Roman')
(4, 'Fareler ve İnsanlar', 'John Steinbeck', 1937, 'Roman')
(5, 'Şeker Portakalı', 'Jose Mauro de Vasconcelos', 1968, 'Roman')
(6, 'Satranç', 'Stefan Zweig', 1941, 'Novella')
(7, 'İnce Memed', 'Yaşar Kemal', 1955, 'Roman')
(8, 'Dönüşüm', 'Franz Kafka', 1915, 'Novella')
(9, 'Bülbülü Öldürmek', 'Harper Lee', 1960, 'Roman')
(10, 'Yüzüklerin Efendisi', 'J.R.R Tolkien', 1954, 'Fantastik')

In [ ]:
cursor.execute("select * from kitaplar where yil > 1960")
sonuclar = cursor.fetchall()

for s in sonuclar:
  print(s)

(5, 'Şeker Portakalı', 'Jose Mauro de Vasconcelos', 1968, 'Roman')

In [ ]:
cursor.execute("""
update kitaplar
set yil = 1956
where ad = 'İnce Memed'
""")
conn.commit()

In [ ]:
cursor.execute("delete from kitaplar where ad = 'Bülbülü Öldürmek'")
conn.commit()

In [ ]:
cursor.execute("""
create table if not exists sahipler (
  id integer primary key autoincrement,
  ad text not null,
  kitap_id integer,
  foreign key(kitap_id) references kitaplar(id)
)
""")

cursor.execute("insert into sahipler (ad, kitap_id) values ('Ahmet', 1)")
cursor.execute("insert into sahipler (ad, kitap_id) values ('Ayşe', 2)")
conn.commit()

In [ ]:
cursor.execute("""
select sahipler.ad, kitaplar.ad
from sahipler
inner join kitaplar on sahipler.kitap_id = kitaplar.id
""")

for row in cursor.fetchall():
  print(row)

('Ahmet', 'Suç ve Ceza')
('Ayşe', 'Kürk Mantolu Madonna')

In [ ]:
cursor.execute("create index if not exists idx_yazar on kitaplar(yazar)")
print("Yazar alanına indeks eklendi")

Yazar alanına indeks eklendi

In [ ]:
cursor.execute("""
select yazar, count(*) as adet
from kitaplar
group by yazar
having count(*) >= 2
""")

for row in cursor.fetchall():
  print(row)

In [ ]:
cursor.execute("Select * from kitaplar order by yil asc")
for row in cursor.fetchall():
  print(row)

(3, 'Sefiller', 'Victor Hugo', 1862, 'Roman')
(1, 'Suç ve Ceza', 'Dostoyevski', 1866, 'Roman')
(8, 'Dönüşüm', 'Franz Kafka', 1915, 'Novella')
(4, 'Fareler ve İnsanlar', 'John Steinbeck', 1937, 'Roman')
(6, 'Satranç', 'Stefan Zweig', 1941, 'Novella')
(2, 'Kürk Mantolu Madonna', 'Sabahattin Ali', 1943, 'Roman')
(10, 'Yüzüklerin Efendisi', 'J.R.R Tolkien', 1954, 'Fantastik')
(7, 'İnce Memed', 'Yaşar Kemal', 1956, 'Roman')
(5, 'Şeker Portakalı', 'Jose Mauro de Vasconcelos', 1968, 'Roman')

In [ ]:
try:
  conn.execute("begin")
  cursor.execute("insert into kitaplar (ad, yazar, yil, tur) values ('Yeni kitap', 'Yeni Yazar', 2022, 'Roman')")
  cursor.execute("update kitaplar set yil = 2020 where ad = 'Kürk Mantolu Madonna'")
  conn.commit()
except:
  conn.rollback()

In [ ]:
kitap_adi = "İnce Memed"
cursor.execute("select * from kitaplar where ad = ?", (kitap_adi,))
print(cursor.fetchall())

[(7, 'İnce Memed', 'Yaşar Kemal', 1956, 'Roman')]

In [ ]:
cursor.execute("select max(yil) from kitaplar")
en_yeni_yil = cursor.fetchone()[0]
print("En yeni yıl:", en_yeni_yil)

En yeni yıl: 2022

In [ ]:
cursor.execute("""
select ad, yazar, yil
from kitaplar
where yil = (select max(yil) from kitaplar)
""")
print("En yeni yıldaki kitaplar:", cursor.fetchall())

En yeni yıldaki kitaplar: [('Yeni kitap', 'Yeni Yazar', 2022), ('Yeni kitap', 'Yeni Yazar', 2022)]

In [ ]:
cursor.execute("""
select k.id, k.ad
from kitaplar k
where k.id in (select kitap_id from sahipler where kitap_id is not null)
""")
print("Sahibi olan kitaplar:", cursor.fetchall())

Sahibi olan kitaplar: [(1, 'Suç ve Ceza'), (2, 'Kürk Mantolu Madonna')]

In [ ]:
cursor.execute("""
select k.id, k.ad
from kitaplar k
where exists (
  select 1
  from sahipler s
  where s.kitap_id = k.id
)
""")
print("Sahibi olan kitaplar (exists):", cursor.fetchall())

Sahibi olan kitaplar (exists): [(1, 'Suç ve Ceza'), (2, 'Kürk Mantolu Madonna')]

In [ ]:
cursor.execute("""
select k1.ad, k1.yazar, k1.yil
from kitaplar k1
where k1.yil = (
  select min(k2.yil) from kitaplar k2
  where k2.yazar = k1.yazar
)
order by k1.yazar, k1.yil
""")
print("Her yazardan en eski kitap:", cursor.fetchall())

Her yazardan en eski kitap: [('Suç ve Ceza', 'Dostoyevski', 1866), ('Dönüşüm', 'Franz Kafka', 1915), ('Yüzüklerin Efendisi', 'J.R.R Tolkien', 1954), ('Fareler ve İnsanlar', 'John Steinbeck', 1937), ('Şeker Portakalı', 'Jose Mauro de Vasconcelos', 1968), ('Kürk Mantolu Madonna', 'Sabahattin Ali', 2020), ('Satranç', 'Stefan Zweig', 1941), ('Sefiller', 'Victor Hugo', 1862), ('İnce Memed', 'Yaşar Kemal', 1956), ('Yeni kitap', 'Yeni Yazar', 2022), ('Yeni kitap', 'Yeni Yazar', 2022)]

In [ ]:
cursor.execute("""
select k.id, k.ad
from kitaplar k
where not exists (
  select 1 from sahipler s
  where s.kitap_id = k.id
)
order by k.id
""")

for row in cursor.fetchall():
  print(row)

(3, 'Sefiller')
(4, 'Fareler ve İnsanlar')
(5, 'Şeker Portakalı')
(6, 'Satranç')
(7, 'İnce Memed')
(8, 'Dönüşüm')
(10, 'Yüzüklerin Efendisi')
(11, 'Yeni kitap')
(12, 'Yeni kitap')